<!DOCTYPE html>
<html>
<head>
	<title>Infinite Recursive Ahape</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<form class="form-inline my-3" >
		<div class="form-group mr-2">
			<label>Width : </label>
			<input type="number" name="width" placeholder="120" value="<%= width %>">
		</div>
		<div class="form-group mr-2">
			<label>Height : </label>
			<input type="number" name="height"  placeholder="60" value="<%= height %>">
		</div>
		<div class="form-group mr-2">
			<label>Padding : </label>
			<input type="number" name="padding" placeholder="4" value="<%= padding %>">
		</div>
		<button id="submit" type="submit" class="btn btn-sm btn-success mr-3">Submit</button>
	</form>
	<% if(shape){ %>
	<div>
		<h4>shape: </h4>
		<pre><%= shape %></pre>
	</div>
	<% } %>
</body>
</html>